@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins',san;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('img(2).jpg') no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 99;
}

.wrapper{
    position: relative;
    width: 400px;
    height: 500px;
    background: transparent;
    border: 3px solid brown;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper .form-box .registration{
    width: 100%;
    padding: 40px;

}
.form-box h2{
    color: azure;
    text-align: center;
    margin-bottom: 20PX;
    font-size: 2rem;
}
.wrapper .icon-close1{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: brown;
    border-bottom-left-radius: 20px;
    cursor: pointer; 
    z-index: 1;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid white;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    columns: white;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
    color: white;
    }

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    font-weight: 600;
    padding: 0px 35px 0px 5px;
}

.input-box .icon1{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    line-height: 57px;
}
.remember-forget{
    font-size: 0.9em;
    color: white;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forget label input{
    accent-color: rgba(165, 42, 42, 0.879);
    margin-right: 3px;
}

.remember-forget a{
    color:  rgb(230, 30, 8);
    text-decoration: none;
}
.remember-forget a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background: brown;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-register{
    text-align: center;
    color: white;
    font-size: 1em;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color:  rgb(230, 30, 8);
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 30px;
}
.login-register p a:hover{
    text-decoration: underline;
}