*{
    /* padding: 0; */
    color: rgb(255, 255, 255);
   
    margin: 0;
 
    
}
#navbar img{
    height: 25vw;
    width: 25vw;
   
    background-size: cover;
    background-repeat: no-repeat;
    
    margin: 10vw 0vw 0vw 20vw;
   
}
#image{
    
    margin:2vw 0px 0px 3vw;
    display: inline;
    vertical-align: middle;

}
#navbar{
    height: 5vh;
}

h3 {
    color: black;
    display: inline;
    vertical-align: middle;
    font-size: 17px;
    border: 1px solid yellow;

    background-color: white;
    margin: 2px 0px 0px 5vw;

    
    
}
h3.hovar{
    background:black;
}
#paymentoption{
    border:3px solid rgba(17, 17, 83, 0.89);
    margin: 9vh 0vh 0vh 35vw ;
    background-color: rgb(39, 23, 86);
    width: 45vw;
    height:50vh;
    border-radius: 5px;
    box-shadow: 10px 5px 12px rgb(16, 16, 73);
}

body{
   background-color: white;
}
#bank_name select {
        color: rgb(123, 4, 4);

}
#verfiy{
    color: rgb(245, 4, 4);
    border: 1px black;
    box-shadow: 1px 1px 1px 1px blue;
}
#upiid{
    color:rgb(3, 2, 2)
}
#pro{
    color: rgb(178, 177, 228);
    border: 1px solid black;
    background-color: rgb(255, 2, 2);
    font-size: 14px;
    border-radius: 7px;
    margin: 5px;
    box-shadow: 1px 1px 1px 1px;

}
.class:hover{
    background-color:black;
}
#b{
    color: rgb(26, 9, 155);
}



 @media (max-width:500px) {
    #paymentoption{
        border:1px solid rgb(80, 88, 202);
        margin: 50px 0px 0px 50px ;
        background-color: rgb(42, 33, 72);
        width: 350px;
        height:350px;
      
        border-radius: 3px;
        box-shadow: 20px;
    }
    

#navbar img{
    height: 25vw;
    width: 25vw;
   
    background-size: cover;
    background-repeat: no-repeat;
    
    margin: 270px 0vw 0vw 230px;
   
}
}
 @media (min-width:500px) and (max-width:600px) {
    #paymentoption{
        border:1px solid rgb(80, 88, 202);
        margin: 50px 0px 0px 110px ;
        background-color: rgb(42, 33, 72);
        width: 350px;
        height:350px;
        
        border-radius: 3px;
        box-shadow: 20px;
    }
    #navbar img{
        height: 25vw;
        width: 25vw;
       
        background-size: cover;
        background-repeat: no-repeat;
        
        margin: 240px 0vw 0vw 230px;
       
    }
    
}
@media (min-width:601px) and (max-width:700px) {
    #paymentoption{
        border:1px solid rgb(80, 88, 202);
        margin: 50px 0px 0px 160px ;
        background-color: rgb(42, 33, 72);
        width: 350px;
        height:350px;
       
        border-radius: 3px;
        box-shadow: 20px;
    }
    
}
@media (min-width:701px) and (max-width:800px) {
    #paymentoption{
        border:1px solid rgb(80, 88, 202);
        margin: 90px 0px 0px 200px ;
        background-color: rgb(42, 33, 72);
        width: 350px;
        height:350px;
       
        border-radius: 3px;
        box-shadow: 20px;
    }
    
}
@media (min-width:801px) and (max-width:900px) {
    #paymentoption{
        border:1px solid rgb(80, 88, 202);
        margin: 50px 0px 0px 270px ;
        background-color: rgb(42, 33, 72);
        width: 350px;
        height:350px;
    
        border-radius: 3px;
        box-shadow: 20px;
    }
    
}
@media (min-width:901px) and (max-width:1100px) {
    #paymentoption{
        border:1px solid rgb(80, 88, 202);
        margin: 50px 0px 0px 320px ;
        background-color: rgb(42, 33, 72);
        width: 350px;
        height:350px;
        
        border-radius: 3px;
        box-shadow: 20px;
    }
    
}
@media (min-width:401px) and (max-width:500px) {
    #paymentoption{
        border:1px solid rgb(80, 88, 202);
        margin: 50px 0px 0px 20px ;
        background-color: rgb(42, 33, 72);
        width: 350px;
        height:350px;
       
        border-radius: 3px;
        box-shadow: 20px;
    }


    
}
@media (min-width:301px) and (max-width:400px) {
    #paymentoption{
        border:1px solid rgb(80, 88, 202);
        margin: 50px 0px 0px 20px ;
        background-color: rgb(42, 33, 72);
        width: 300px;
        height:300px;
        
        border-radius: 3px;
        box-shadow: 20px;
    }

  
    
} 